/* css reset */
* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* designing the weather app container */
.container {
  width: 600px;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 25px;
  padding: 15px;
}

/* designing the search area */
.searchData {
  border: 1px solid black;
}

.searchData input {
  border: transparent;
  padding: 5px;
}

.searchData button {
  border: transparent;
  padding: 5px 15px;
  cursor: pointer;
}

/* designing the city weather data */
.cityWeatherData {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  width: 100%;
}

.details {
  display: flex;
  align-items: center;
  gap: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

/* body{
  background-color: #03C6C7;
} */

#cloud{
  position: absolute;
  margin-left: -1300px;
  margin-top:-300px;
  height: 600px;
  width: 1650px;
  z-index: -1;
}

.container{
  background-color:#b1aaa0 ;
 border-color: darkgray;
 border-radius: 10px;
 font-family: sans-serif;
}

.searchData{
  border: 1px solid white;
  border-radius: 5px;
  
}

#countryName{
  color: blue;
}

#stateName{
  color: blue;
}

#cityName{
  color: blue;
}

#humidity{
  color: blue;
}

#windSpeed{
  color: blue;
}

#temprature{
  color: blue;
}

#weatherStatus{
  color: blue;
}
